<!DOCTYPE html>

<html style="width: 100%; height:100%">
    <head>
       <title>home page</title>
         
    </head>
    <body style="width: 100%; height:100%">
       {{>header}}

         <form>
            <input placeholder="location">
            <button>search</button>
         </form>
         <h3 id="place"></h3>
         <h4 id="forecast"></h4>
       {{>footer}}
    </body>
    <script src="scripts/script.js"></script>
</html>