<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
    </head>
    <body>
        {{>header404}}
        <h3>sorry!, the page is not found<header404>
        {{>footer}}
    </body>
    <script src="/web-server/script/main.js">
        console.log("done!")
        </script>
</html>